<!-- Loop over each object in the blogpost array -->
{{#each blogposts as |blogpost| }}
<div class="col mb-4 blogpost">
  <div class="blogpost-header">
    
      <a href="/blogpost/{{blogpost.id}}">{{blogpost.title}}</a>       
      Posted by {{blogpost.user.name}} on {{format_date blogpost.date_created}}       
   
  </div>
  <div class="blogpost-content">
     <p>
      {{blogpost.description}}
    </p>
  </div>
</div>
{{/each}}
