<!-- Loop over each object in the blogpost array -->
<div> {{!-- to handle css justify content for dashboard--}}
{{#each blogposts as |blogpost| }}
<div class="col mb-4 blogpost">
  <div class="blogpost-header">
    <div>
      <a class="no-button" href="/blogpost/{{blogpost.id}}">{{blogpost.title}}</a> 
    </div>
    <div style="text-align: end;font-size:0.75rem">
      Posted by {{blogpost.user.name}} on {{format_date blogpost.date_created}}
    </div>
  </div>
  <div class="blogpost-content">
     <p>
      {{blogpost.description}}
    </p>
  </div>
</div>
{{/each}}
</div>